# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/logisticFront/dist
/logisticFront/tmp
/logisticFront/out-tsc
/logisticFront/bazel-out

# Node
/logisticFront/node_modules
/logisticFront/npm-debug.log
/logisticFront/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/logisticFront/.angular/cache
/logisticFront/.sass-cache/
/logisticFront/connect.lock
/logisticFront/coverage
/logisticFront/libpeerconnection.log
/logisticFront/testem.log
/logisticFront/typings

# System files
.DS_Store
Thumbs.db
