<style>
.product-card{
    height: 100% !important;
}
</style>
<div class="p-6 bg-gray-100 min-h-screen">
  <h1 class="text-3xl font-bold mb-6 text-center">Dashboard</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Kundenübersicht -->
    <p-card class="bg-blue-50 shadow-lg rounded-lg max-h-[400px] child:h-full child:child:h-full child:child:overflow-auto" header="Kunden" styleClass="customer-card">
      <ul class="list-none p-0">
        <li *ngFor="let customer of customers" class="py-2 border-b border-gray-200">
          <div class="text-gray-800 font-semibold">{{ customer.customerName }}</div>
          <div class="text-gray-600">
            Adresse: {{ customer.address?.street }} {{ customer.address?.houseNumber }}, {{ customer.address?.postcode }}
          </div>
        </li>
      </ul>
    </p-card>

    <!-- Produktübersicht -->
    <p-card class="bg-blue-50 shadow-lg rounded-lg max-h-[400px] child:h-full child:child:h-full child:child:overflow-auto" header="Produkte" styleClass="product-card">
      <ul class="list-none p-0">
        <li *ngFor="let product of products" class="py-2 border-b border-gray-200">
          <div class="text-gray-800 font-semibold">{{ product.productName }}</div>
          <div class="text-gray-600">Bestand: {{ product.inventory }}</div>
          <div class="text-gray-600">Preis: {{ product.price | currency }}</div>
        </li>
      </ul>
    </p-card>

    <!-- Lieferantenübersicht -->
    <p-card class="bg-blue-50 shadow-lg rounded-lg max-h-[400px] child:h-full child:child:h-full child:child:overflow-auto" header="Lieferanten" styleClass="supplier-card">
      <ul class="list-none p-0">
        <li *ngFor="let supplier of suppliers" class="py-2 border-b border-gray-200">
          <div class="text-gray-800 font-semibold">{{ supplier.name }}</div>
          <div class="text-gray-600">
            Adresse: {{ supplier.address?.street }} {{ supplier.address?.houseNumber }}, {{ supplier.address?.postcode }}
          </div>
        </li>
      </ul>
    </p-card>
  </div>
</div>
